.swiper_box_s {
  width: 660px;
  !height: 350px; 
  padding: 30px 40px;
  margin: 5px auto;
  position: relative;
}

.swiper-container {
  max-height: 350px;
  width: 580px;
}
.content-slide {
  padding: 20px;
}

.pagination {
  position: absolute;
  left: 0;
  text-align: center;
top: 0px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}